Payment failure: {{ subscription_name }} for {{company_name}}



Dear {{customer_name}}



Don't lose access to {{ subscription_name }}



The last payment for your {{ subscription_name }} subscription for {{company_name}} failed. This indicates that there's something wrong with your payment method.



To prevent the suspension of all services for all users on {{day}} days from now:



- Contact your bank or credit card company to resolve the issue with your payment method.



- Sign in to your Builder 365 account and click Billing to retry or update your payment method and pay your outstanding balance. If you can't resolve the issue, you'll need to add a new payment method instead.



Please contact our support team for additional help.



<a href="{{url_login}}">Sign in</a>

Sincerely,

Builder 365 Team