Dear {{ username }},


We have received a request to reset the credential associated with your account. In order to ensure the security of your account, we have initiated the password.

Below are the details for your new password:

Password: {{ new_password }}

Please use this password to log in to your account. Once you have logged in, we recommend changing your password to a more secure and personalized one.

If you did not initiate this password reset request, or if you have any concerns about the security of your account, please contact our support team immediately.

Thank you for your prompt attention to this matter. We appreciate your cooperation in maintaining the security of your account.

Best regards,
